flask
flask-cors
numpy
pandas
scikit-learn
joblib
nltk
spacy
pdfminer.six
PyPDF2
python-docx
tqdm
werkzeug
gunicorn
lxml
openpyxl
matplotlib
seaborn

# Download spaCy English model after installing spaCy
# Use the pip directive for en_core_web_sm
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl

